<!DOCTYPE html>

<html>

    {% include head.html %}

    <body>

        {% include header.html %}
    
    
    <!-- Main -->
    <div id="main" class="alt">
    
    <!-- One -->
    <section id="one">
        <div class="inner">
            <img src="/assets/images/TheFactsAboutThePollution/Infographic.png" style="border-radius:8px; width: auto; margin: auto; display: block; margin: auto;"/>
        </div>
    </section>
    
    </div>
    {% include footer.html %}

    </body>

    

	

</html>