<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">
          {% for post in site.posts %}
    {% if post.title != 404 %}
    <a href= "{{ site.baseurl }} {{ post.url }}">
	  <header class="major">
	    <h1>{{ post.title }}</h1>
	  </header>
	  {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
	  {% endif %}
          {% endfor %}
    </a>
	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
